extends layout
block content
	h1 Edit Data
	form(method="post", action="/edit/"+article._id)
		.form-group
			label Title:
			input.form-control(name='title', type='text', value=article.title)
		.form-group
			label Author:
			input.form-control(name='author', type='text', value=article.author)
		.form-group
			input.btn.btn-success(type='submit', value='submit')