doctype html
html
	head
		title #{title}
		link(rel="stylesheet" href="/bower_component/bootstrap/dist/css/bootstrap.css")
	body
		nav.navbar.navbar-expand-lg.navbar-light.bg-light
			a.navbar-brand(href='#') Tutorial
			button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
				span.navbar-toggler-icon
			#navbarSupportedContent.collapse.navbar-collapse
				ul.navbar-nav.mr-auto
					li.nav-item.active
						a.nav-link(href='/')
							| Home 
							span.sr-only (current)
					li.nav-item
						a.nav-link(href='/add') Add

		.container
			block content
		script(src="/bower_component/jquery/dist/jquery.min.js")
		script(src="/bower_component/bootstrap/dist/js/bootstrap.js")
		script(src="/custom.js")